body {
  margin: 0;
}

body * {
  box-sizing: border-box;
}

.topbar {
  background-color: lightgrey;
  padding: 10px;
}

.search-bar {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid grey;
}

table {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  border: 2px solid lightgray;
}

table td, table th {
  border: 1px solid lightgray;
}