

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("img/bg.jpg");
    font-family: 'Roboto Slab', serif;
}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 10px;
}

.left img {
    width: 71px;
    height: 37px;
    margin-left: 9px;
}

.left h3 {
    line-height: 10px;
}

.mid {
    /* border: 2px solid red; */
    margin: 0px auto;
    margin-top: 30px;
    width: 40%;
    text-align: center;
}

.navbar li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
    
    
}

.navbar li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}


.navbar li a:hover, .navbar li a.active {
    color: rgb(104, 95, 95);
    text-decoration: underline;
}


.right {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 20px;
}

.right button {
    background-color: rgb(114, 100, 100);
    color: white;
    padding: 10px;
    width: 150px;
}

.right button:hover {
    background-color: rgb(151, 137, 137);
    cursor: pointer;
}

.container {
    position: absolute;
    width: 33%;
    top: 20%;
    left: 10%;
    padding: 20px;
    border-radius: 10px;
}

.container input, label {
    display: block;
    position: relative;
    margin: 15px 0;
    left: 20px;
}

.container label {
    font-size: 1.2rem;
    font-weight: 300;
}

.container input {
    padding: 10px;
    background-color: aliceblue;
}

.container input:focus {
    border: 2px solid black;
}

.container #submit {
    text-align: center;
    margin-top: 50px;
    background-color: darkgray;
    width: 350px;
    cursor: pointer;
    height: 40px;
}
.sign-up a {
    text-decoration: none;
    color: black;
}

.sign-up a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.sign-up p{
    font-weight: 200;
    margin-left: 40px;
    margin-top: 10px;
}